 *{
	margin:0;
	padding:0;
} 
body{
	background:#f4f4f4;
	font-family: 'Abel', sans-serif;
	font-size:100%;
}
a{
	text-decoration:none;
}
#wrapper{
	background:#fff;
	padding:10px;
	margin:10px;
	border: 1px solid #EDEDED;
}
/***********************
* header
************************/
#wrapper >header{
	background: #FD6542;
	overflow: hidden;
}

#logo{
	font-size: 2.4em;
	padding: 13px 24px;
	color: #fff;
	display: inline-block;
	float: left;
	
}
.container{
	padding:15px;
	overflow:hidden;
}
.top-pad-only{
	padding:15px 0;
}
/***********************
* top navigation
************************/
nav{
	float: right;
	display: inline-block;
}
nav ul{
	margin:17px;
	overflow:hidden;
}
ul li{
	list-style:none;
	float: right;
}
nav ul li {
	float: left;
	list-style: none;
	margin: 0 1px;
}
nav ul li a{
	display:block;
	color:#fff;
	padding: 10px 20px;
	background: #D74927;
}
nav ul li a:hover{
	background: #FDE9E1;
color: #494949;
}
/***********************
* banner
************************/
#banner{
	height: 320px;
	text-align: center;
	background: #3B3F44;
}
#banner h2{
	color: #DFDDDC;
	font-size: 3.5em;
	padding: 0.7em 0 0.3em;
}
#banner p{
	color: #FFF268;
	font-size: 1.4em;
	text-align:center;
	width:80%;
	margin:0 auto;
}
/***********************
* main container column
************************/
#main{
	overflow:hidden;
}
.col-desktop{
	width: 31.63%;
	margin-left: 2.5%;
	float: left;
	color: #373535;
}
.col-desktop:first-child{
	margin-left:0;
}
.col-desktop h2 {
	padding-bottom: 3px;
	color: #05B085;
	font-size: 1.5em;
}
.col-desktop h6{
	padding-bottom: 15px;
	font-size: 1.0em;
}
/***********************
* footer
************************/
.copyrights{
	float:left;
}
.footer-nav{
	float:right;
}
.footer-nav li{
	padding:0 10px;
	float:left;
}
/***********************
* 320 x 480
************************/
@media screen and (max-width:320px){
	#logo{
		color:#fbc;
		text-align:center;
		display:block;
		float:none;
	}
}
/***********************
* 480 x 800
************************/
@media screen and (max-width:480px){
	#logo{
		color:#FFE354;
		padding-top:30px;
	}
	nav {
		float: none;
		display: block;
	}
	nav ul li {
		float: none;
		list-style: none;
		margin: 1px 0;
	}
	#banner h2{
		font-size:3em;
	}
	#banner p{
		font-size:1.2em;
	}
	.col-mobile{
		width:100%;
	}
	
}
/***********************
* 768 x 1280
************************/
@media screen and (min-width:481px) and (max-width:768px){
	.col-tablet{
		width:48.7%;
	}
	.col-tablet:last-child{
		width:100%;
		margin-left:0;
	}
}